body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
  color: aliceblue;
}

h1, h2, h4 {
  color: #f1f1f1;
}

.nav-link {
  color: #b0b0b0;
}

.nav-link:hover, .nav-link.active {
  color: #ffffff;
  font-weight: bold;
}

.list-group-item {
  background-color: #1e1e1e;
  border: 1px solid #2c2c2c;
  color:#e0e0e0;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

input, textarea {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 0.375rem;
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  background-color: #084298;
  border-color: #084298;
}

footer {
  color: #888;
}
